body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f0f0f0;
}
img
{
    margin: auto;
    border-radius: 10px;
    width: 550px;
    height: 550px;
}
.headline
{
    background-color: black; color: white;text-align: center;
    margin: 0;font-family: cursive; font-size: 75px;
}
.cards
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

#center
{
    text-align: center; font-size: 50px;
}

.steps
{
    color: black ;  text-align: center; font-size: 50px;
}
.card
{
background-color: #f0f0f0;
box-shadow: 0px 2px 4px rgba (0,0,0,0.2);
 
}
.content
{
   text-align: center;
    margin: 0;
}
.content h2
{
    font-size: 28px;
}
